html {
    scroll-behavior: smooth;
}

body {
    margin: 60px auto;
    width: 70%;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    text-align: center;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.icons-social i {
    font-size: 3em;
}

.icons-selfpicture {
	border-radius:50%; 
    width:15%; 
    height:50%;
	margin-left:auto; 
    margin-right:auto;
    align-items: center;
    display: flex;
}

.selfpicture {
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body-intro {
    text-align: center;
}

.btn {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border: 1px solid #999;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius:10px; 
    text-decoration: none;
    color: #999;
    list-style: none;
    font-weight: bold;
    font-size: 0.8em;
}
  
.btn:hover {
    background-color: #ddd;
}
  
.btn.active {
    background-color: #666;
    color: white;
}

.project-img {
    vertical-align: middle;
    max-width: 500px;
    max-height: 500px;
}

.body-projects-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.body-projects-container .project {
    border: 1px solid #999;
    display: none;
}

.body-projects-container .project:first-child {
    display: block;
}


.numbertext {
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.project-description {
    font-size: 15px;
    bottom: 8px;
    width: 99%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 10px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #555555;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: #dddddd;
}


/* Animations */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

.background {
    background: url(../background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.white-background {
    background-color: #ffffff;
    background-size: cover;
    opacity: 0.75;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

